*{
    list-style: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 800px;
    margin:0 auto
}
header{
    display: flex;
    justify-content: space-between;
    padding:5px;
}
.p-header{
    margin-top: 0px;
}
.header-left{
    display:flex;
    flex-direction: row;
    
}
.logo{
    display: flex;
    align-items: center;
    width: 30px;
}
h1{
    
    margin: 0;
}
.points{
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 6px;
}

p{
    
    margin-top:15px;
}
img{
    width: 100%;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
}
.icons-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.icons-right{
    display: flex;
    align-items: center;
    justify-content: end;
}
i{
    width: auto;
    margin-right: 4px;
}
.far{
    margin-right: 15px;
}
